body {
    background-color: #000;
    overflow: hidden;
}


/*! ************* Side Bar ************* */
aside {
    height: 100%;
    position: fixed;
    top: 0;
    left: -204px;
    z-index: 99;
}

aside .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #000;
}

aside .nav-menu ul li {
    position: relative;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    padding: .625rem;
    cursor: pointer;
    transition: .3s;
}

aside ul li a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

aside ul li:hover a,
aside .icons ul li:hover {
    color: #FCCF11;
}

aside .nav-footer p {
    font-size: .75rem;
}

aside .nav-header {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 5px;
}

aside .nav-header img {
    width: 50px;
}

aside .nav-header i {
    transition: .5s;
}

aside .nav-header i:hover {
    cursor: pointer;
    color: #FCCF11;
}

/*! ************* Meals ************* */
#meals {
    padding-left: 3.4375rem;
}

#meals .image {
    position: relative;
    overflow: hidden;
}

#meals .image:hover {
    cursor: pointer;
}

#meals .layer {
    background-color: #ffffffbf;
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    transition: .5s;
}

#meals .image:hover .layer {
    top: 0;
}

.input input::placeholder {
    color: #dddddd65;
}
.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 6px 0.2rem #FCCF11;
}

#contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

#contact button {
    width: fit-content;
}

.icon-house {
    font-size: 3.125rem;
}

.caption p {
    font-size: 15px;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 999;
    background-color: #000;
}

.inner-loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}